
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500&display=swap');

:root {
  --main-bg-color: #FAFAFA;
  --form-bg-color: #FFF;
  --main-text-color: #fff;
  --button-bg-color: #651FFF;
  --button-hover-color: #3e129e;
}


body {
  margin: 0;
  font-family: "Roboto Condensed";
  background-color: var(--main-bg-color);
}

.secondary-header {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: -0.04rem;
  color: #130F1C;
}

.container-login {
  --max-width: 1440px;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  max-width: 27rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.container-contact {
  --max-width: 1440px;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.wrapper-login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 0.625rem;
  background: var(--form-bg-color);
  box-shadow: 40px 40px 60px 0px rgba(0, 0, 0, 0.10);
}

.wrapper-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 0.625rem;
  background: var(--form-bg-color);
  box-shadow: 40px 40px 60px 0px rgba(0, 0, 0, 0.10);
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact-label {
  margin-bottom: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-group-contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: calc(50% - 1rem);
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.form-group label, .form-group-contact label {
  flex: 1;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.form-group input, .form-group-contact input {
  flex: 2;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  background-color: #FAFAFA;
  border: none;
  border-radius: 0.3rem;
  padding: 0.75rem 0.875rem 0.75rem 0.75rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 1rem;
}

.primary-button {
  border-radius: 0.3125rem;
  background: var(--button-bg-color);
  color: var(--main-bg-color);
  padding: 0.75rem 3rem;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
}

.primary-button:hover, 
.primary-button:focus {
  background: var(--button-hover-color);
  color: var(--main-text-color);
  border: none;
  transition: 0.5s;
}


.switch-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.switch-label {
  color: var(--gray-100, #484848);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  margin-left: 0.5rem;
}

.switch {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #E9E9E9;
  border-radius: 10px;
  cursor: pointer;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FD7918;
  border-radius: 50%;
  transition: 0.5s;
}

.checkbox {
  display: none;
}

.checkbox:checked + .slider {
  left: 20px;
}

.forgot-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-button-style {
  color: var(--purple-100, #651FFF);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration-line: underline;
}

.separator {
  border-top: 0.125rem solid #ECECEE;
  margin-top: 2rem;
}

.subsection-text {
  color: var(--gray-50, #5A5761);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.subsection-button {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 1rem;
  margin-top: 10px;
}

.button {
  display: flex;
  padding: 0.75rem 3rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
  border-radius: 0.3rem;
  border: 1px solid #ECECEE;
  background: var(--White, #FFF);
  cursor: pointer;
}

.button:hover,
.button:focus {
  border: 1px solid var(--purple-100, #651FFF);
  transition: 0.5s;
  outline: #651FFF;
}

.contact-checkbox {
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
}

.contact-checkbox input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

.contact-checkbox input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.contact-checkbox input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Adjust the size of the custom checkbox */
  height: 20px; /* Adjust the size of the custom checkbox */
  border: 1px solid #ccc; /* Add a border for better visibility */
  border-radius: 3px;
}

.contact-checkbox input[type="checkbox"]:checked + label:before {
  background-color: #FD7918; /* Change the color of the checked checkbox */
}

.contact-message {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding-right: 1rem;
}

.contact-message label {
  display: block;
  margin-bottom: 5px;
}

.contact-message textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #FAFAFA;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1rem; 

  color:#414045;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
  .switch-container {
    flex-direction: row;
    align-items: left;
  }
  .switch-label {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .form-group-contact {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .contact-message {
    flex-basis: 50%;
  }
}